.close-bar{
    -fx-background-color: #527173;
    -fx-prefWidth: 100%;
}

.button{
    -fx-background-color: #527173;
    -fx-text-fill: white;
    -fx-font-family: Verdana, Geneva, Tahoma, sans-serif;
    -fx-prefHeight: 32px;
}

.button:hover{
    -fx-background-color: #3F6163;
}