.content-validation{
    -fx-background-color: #3F6163;
}

.vBox{
    -fx-padding: 56 56 80 56;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-field, .password-field{
    -fx-background-color: #527173;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: Verdana, Geneva, Tahoma, sans-serif;
    -fx-pref-width: 320px;
    -fx-pref-height: 30px;
    -fx-border-color: white;
    -fx-border-width: 0 0 2 0;
}

.button{
    -fx-background-color: #803030;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: Verdana, Geneva, Tahoma, sans-serif;
    -fx-pref-width: 120px;
    -fx-pref-height: 30px;
}

.button:hover{
    -fx-border-color: #B6806A;
}

.button:pressed{
    -fx-background-color: #B6806A;
}