.button-sale, .button-inventory, .button-supplier{
    -fx-background-color: #3F6163;
    -fx-text-fill: white;
    -fx-font-family: Verdana, Geneva, Tahoma, sans-serif;
    -fx-background-radius: 0;
}

.button-sale:hover, .button-inventory:hover, .button-supplier:hover{
    -fx-background-color: #527173;
}

.selector-bar{
    -fx-setPrefHeight: 100%;
    -fx-background-color: #3F6163;
}